
.grid {
    height:100px;
     width:100px;
    
    margin-top : 200px;
    margin-left:200px;


    display:flex;
    text-align :center;
    align-items:center;
    justify-content:center;
 
}
#grid1{
    position :absolute;
    top:200px;
    left:200px;
    border-right: 1px solid skyblue;
    border-bottom:1px solid skyblue;

}
#grid2{
    position :absolute;
    top:300px;
    left:200px;
    border-bottom:1px solid skyblue;
    border-right:1px solid skyblue;
}
#grid3{
    position :absolute;
    top:400px;
    left:200px;
    border-right:1px solid skyblue;
}

/*  Column2 */

#grid4{
    position :absolute;
    top:200px;
    left:300px;
    border-bottom: 1px solid skyblue;
}
#grid5{
    position :absolute;
    top:300px;
    left:300px;
    border-bottom:1px solid skyblue;

}
#grid6{
    position :absolute;
    top:400px;
    left:300px;
   

}

/* Now Column 3 now */

#grid7{
    position :absolute;
    top:200px;
    left:400px;
    border-left:1px solid skyblue;
    border-bottom:1px solid skyblue;

}
#grid8{
    position :absolute;
    top:300px;
    left:400px;
    border-left:1px solid skyblue;
    border-bottom:1px solid skyblue;

}
#grid9{
    position :absolute;
    top:400px;
    left:400px;
    border-left:1px solid skyblue;

}

div{
    font-size:50px;
}
